
    <body>
        <div class="div1">
            <a [routerLink]= "['/parking']" class = "buttonOfNavigation center100">Parking</a>
            <a [routerLink]= "['/map/']" class = "buttonOfNavigation center100">Map</a>
            <img src="assets/FIT haters logo.png" alt="" class="logoimg center100">
            <a href="#" class = "buttonOfNavigation center100">About us</a>
            <a href="#" class = "buttonOfNavigation center100">Login</a>
        </div>
        <div class="div2"></div>
        
    </body>
