body {
    font-family:Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    font-weight: 900;

}
.NameofBrand{
    padding: 0;
    font-size: 40px;
}
.logoimg{
    width: 10%;
}
.center100{
    margin-left: 5%;
    margin-right: 5%;
}
.div1{
    margin-top: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.left{
    float: left;
}
.right{
    float: right;
}
.buttonOfNavigation{
    color:gray;
    transition: color 0.5s, border-color 0.5s;
    text-decoration: none;
    font-size: 2vw;
    
}
.buttonOfNavigation:hover{
    color:yellow;
    transition: color 0.5s, border-color 0.5s;
    
}
.div2{
    padding: 2%;
    padding-top: 0.5%;
    margin: 0px;
    height: 900px;
    background-color: white;
}